.ipynb_checkpoints
__pycache__
config.py
todo
static
getlog
dreamr.log
dreamr.log.*
Untitled*
google_oauth_credentials.json
j
google_play_service_account.json
junk/
old/
cookies.txt
login.sh
reports.test.sh
pricing
scripts/req.txt
scripts/trial_credits.sh
scripts/image_sample.log
scripts/image_samples/
backups/
